extends layout 

block content
    h1 Bills before the House
    ul
        each bill in bills
            li #[a(href='/bills/' + bill.id)= bill.id + ' - ' + bill.title + ' @ ' + bill.stage_name]