extends layout 

block content
    .jumbotron.bg-warning
        h1 We ran into a problem
        h2 An error occurred
    .container-fluid
        pre= error || 'An unknown error occurred. Please try again later.'