extends layout 

block content 
    .container
        h1.display-1.text-center MHoC Speakership Website
    
    .container.text-center.mt-5
        .row.mb-3
            .col
                a(href='/bills').btn.btn-primary Current business
        .row
            .col
                a(href='/bills/new').btn.btn-primary Add new legislation