extends layout 

block content 
    .container
        h1.display-1.text-center MHoC Speakership Website
    
    .container.d-flex.justify-content-center.mt-5
        a(href='/search').btn.btn-primary Current business
        a(href='/search').btn.btn-primary Add new legislation