html(lang='en') 
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title || 'MHoC Speakership'
        link(rel='stylesheet', href='/css/index.css')
        link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css')
        link(rel='stylesheet', href='/css/icons/bootstrap-icons.min.css')
    body
        .container-fluid.h-100.p-0
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
                a(href='/').navbar-brand MHoC Speakership
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent')
                    span.navbar-toggler-icon
                #navbarContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a(href='/bills').nav-link Bills
                        li.nav-item
                            a(href='/bills/new').nav-link Add New
                        
            block content
        script(src='/js/bootstrap/bootstrap.bundle.min.js')