extends layout

block content 
    .jumbotron.mb-5.bg-danger.text-white
        h1 Log in with reddit
        p Please note that in order to use this site, you will need to be:
        ul
            li a moderator of /r/MHoC, or
            li specifically authorised to use this website
        p This website is intended for use by speakership members only. If you are one and cannot log in, please let me know in the speakership Discord server.
        .alert.alert-primary.d-flex.align-items-center
            i.bi-info-circle-fill.mr-2
            div If you've been sent to this page unexpectedly after already logging in, your authorisation token may have expired. Please log in again. If the issue recurs within half an hour, please #[a(href='https://www.reddit.com/message/compose?to=lily-irl') let me know].

    a(href=`https://www.reddit.com/api/v1/authorize?client_id=${client_id}&response_type=code&state=archive&redirect_uri=${callback_uri}&duration=temporary&scope=identity%20wikiread%20wikiedit%20submit%20read`).btn.btn-danger Log in with reddit